Source: wmfrog
Section: x11
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1), libxpm-dev, x11proto-xext-dev, libxext-dev
Standards-Version: 3.9.2
Vcs-Browser: http://git.debian.org/?p=collab-maint/wmfrog.git
Vcs-Git: git://git.debian.org/git/collab-maint/wmfrog.git
Homepage: http://freshmeat.net/projects/wmfrog

Package: wmfrog
Architecture: any
Depends: wget, libxext6, ${shlibs:Depends}, ${misc:Depends}
Description: a dockapp for showing weather in graphical way
 A dockapp for wheather reports. Includes clouds (clear, few,
 scattered, broken, overcast ...); Precipitations (drizzle, rain,
 snow, ice christals: light/moderate or heavy); Special weather
 (Blowing wind / Freezing / Thunderstorm, funnel cloud...); Humidity
 perentage; Wind speed (average & gust); Wind Direction; Temperature
 (Celcius or Fareinheit); Station name can be configured and weather
 report time is displayed.
