#!/usr/bin/make -f

PACKAGE = wmfrog
MAKEOPT = -C Src

include /usr/share/dpkg/buildflags.mk
CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed
export CFLAGS LDFLAGS

include debian/debian-vars.mk

man:
	# convert *.pod to manual page
	$(MAKE) -C debian -f pod2man.mk PACKAGE=$(PACKAGE) makeman

override_dh_auto_build: man
	$(MAKE) $(MAKEOPT) CFLAGS="$(CFLAGS) $(LDFLAGS)"

override_dh_auto_clean:
	[ ! Src/Makefile ] || $(MAKE) $(MAKEOPT) clean

override_dh_auto_install:
	$(MAKE) $(MAKEOPT) install DESTDIR=$(CURDIR)/debian/wmfrog

.PHONY = man

%:
	dh $@

# End of file
